<ion-view view-title="'{{kitchen.kitchenName}}'">
  <ion-content class="padding">
    <div class="list card a-message" ng-show="kitchen">

      <div class="item item-image">
        <img ng-src="{{kitchen.img || 'img/df-kitchen-img.jpg'}}">
      </div>

      <div class="item item-icon-left balanced" href="#">
        <i class="icon ion-happy-outline"></i>
          {{kitchen.status || 'Available'}}
      </div>

      <a class="item item-icon-left royal" href="#/tab/kitchens/{{kitchen.id}}/menues">
        <i class="icon ion-ios-compose"></i>
        Order
      </a>

    </div>
  </ion-content>
</ion-view>
