<ion-view view-title="Menues from '{{kitchen.kitchenName}}'">
  <ion-content>
    <ion-list>
      <a class="item-remove-animate item-thumbnail-left" ng-repeat="menu in menues"
                type="item-text-wrap" href="#/tab/kitchens/{{kitchen.id}}/menues/{{menu.id}}">
          <img src="cover.jpg">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>
        </a>
    </ion-list>
    <div class="card km-message a-message" ng-show="menues">
      <!-- TODO: Make this a directive -->
      <div class="item item-text-wrap">
        <img src="img/icons/impatient.png" alt="Impatient?" width="100px" height="100px">
        <p>Oh boy... there is nothing to eat or buy!</p>
      </div>
    </div>
  </ion-content>
</ion-view>

<style></style>
