<ion-view view-title="My Account">
  <ion-content ng-show="isAuth">
    <div class="row">
      <h3 class="col-top col">Welcome {{user.fullName}}!</h3>
    </div>
    <div class="">
      <div class="row padding-bottom"><button ng-click="logOut()" class="col col-50 button button-royal">Logout</button></div>
      <div class="row"><button class="col col-50 button button-royal">Edit</button></div>
    </div>
  </ion-content>
  <ion-content ng-show="!isAuth">
    <div class="row padding-bottom"><a href="#/tab/account/login" class="col col-50 col-offset-25 button button-stable" >Login</a></div>
    <div class="row padding-bottom"><a href="#/tab/account/register" class="col col-50 col-offset-25 button button-royal">Register</a></div>
  </ion-content>
</ion-view>
