<ion-view view-title="Become one hell of an Eater!">
  <ion-content>
    <form novalidate>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Full Name</span>
          <input ng-model="user.fullName" type="text" placeholder="Thomas Keller">
        </label>
        <label ng-hide="!user.admin" class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input  ng-model="user.email" type="email" ng-model="user.email" placeholder="alcon@superamigos.com">
        </label>
        <label ng-hide="!user.admin" class="item item-input item-stacked-label">
          <span class="input-label">Phone</span>
          <input ng-model="user.phone" type="number" ng-model="user.phone" placeholder="2494481699">
        </label>
        <div class="row padding">
          <button class="col button button-royal" ng-hide="!user.admin">
            Next Step
          </button>
        </div>
        <div class="row padding">
          <button ng-click="register(user)" class="col button button-royal" ng-show="!user.admin">
            Register
          </button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
