<ion-view view-title="Kitchens">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar a-message item-icon-right" ng-repeat="kitchen in kitchens" type="item-text-wrap" href="#/tab/kitchens/{{kitchen.id}}">
        <img ng-src="{{kitchen.img || 'img/df-kitchen-img.jpg'}}">
        <h2>{{kitchen.kitchenName}}</h2>
        <p>{{kitchen.kitchenDescription || 'no desc.'}}</p>
        <span class="badge badge-royal">$ {{kitchen.defaultMenuEntryPrice}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
