<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="be-admin-wrapper fixed-bottom">
      <div class="row">
        <div class="col col-50">
          <a class="card button button-calm" href="#/tab/register/admin" title="Do you think you can feed our clients? click me!">Be a Chef</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
