.km-message {
  font-size: 3.7vmin;
  font-weight: 600;
  text-transform: uppercase;
  border: 0px solid #F44336;
  text-align: center;
  border-top-width: 3px;
  background: #F8F8F8;
  color: #F44336;
  img {
    display: block;
    margin: auto;
  }
}
