.a-message.ng-hide-remove {
  -webkit-animation: enter 600ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  animation: enter 600ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  display: block;
  position: relative;
}

@-webkit-keyframes enter {
  from {
    opacity: 0;
    top: -70px;
  }
  75% {
    top: 15px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
@keyframes enter {
  from {
    opacity: 0;
    top: -70px;
  }
  75% {
    top: 15px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

.a-message.ng-hide {
  opacity: 1;
  top: -70px;
  display: block;
  position: relative;
}
@-webkit-keyframes leave {
  to {
    opacity: 0;
    top: -70px;
  }
  25% {
    top: 15px;
  }
  from {
    opacity: 1;
    top: 0px;
  }
}
@keyframes leave {
  to {
    opacity: 0;
    top: -70px;
  }
  25% {
    top: 15px;
  }
  from {
    opacity: 1;
    top: 0px;
  }
}
